@define-color bg #112038;
@define-color fg #f2e7f2;
@define-color gray1 #6dbe66;
@define-color gray2 #3060ab;
@define-color gray3 #6699cc;
@define-color gray4 #e5c91b;
@define-color gray5 #a55aa5;
@define-color fg_bright #f2e7f2;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}